.users, .badge{
    font-size: 13px !important;
}

tbody {
    border-top: none !important;
}

#editbutton,#resignbutton, #edittime {
    opacity: .3;
}

#editbutton:hover, #resignbutton:hover, #edittime:hover {
    opacity: 1;
}